.card {
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 100px;
  background: #454545;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

img {
  border-radius: 5px 5px 5px 5px;
}

.container {
  padding: 2px 16px;
}

.container_text {
  padding: 0px 0px 0px 0px;
}

.container_image {
  position: relative;
  transform: translate(-50%, -40%);
  width: 80px;
  height: 80px;
}

p.designation {
    margin-top: 0;
}

h3.designation {
    margin-bottom: 0;
}

h3 {
    font-size: 190%;
}