@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Sniglet&display=swap');


:root {
    --highlight-color: #E5B462;
    --background-color: #303030;
    --background-navbar: #222;
    --white-text-color: #f2f2f2;
}

* {
    font-family: 'Pangolin', cursive;
}

body {
  margin-top: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--white-text-color);
}

img {
    max-width: 100%
}

.mainpage {
    margin: 0px;
}

/* Color of links */
a {  
  color: lightskyblue;  
}

.main-image-howtoplay {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 600px) {
    .main-image-howtoplay {
        width: 90%;
        height: 90%;
    }
}

.main {
      margin: 5em auto;
}

a.specialeffects:hover {
    background-color: var(--highlight-color); 
    text-decoration: underline;
}
p {
    font-size: 125%;
}
.slideshow-container{
    position: relative;
    margin:auto;
}
.slide{
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 80%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
/* Position the "prev button" to the right */
.prev {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(50,50,50,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #var(--white-text-color);
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
}

/* button styling*/
.button {
    border-color: white;
    background-color: #7777;
    font-size: 64px;
    color: white;
    text-align: center;
    text-decoration: underline;
    max-width:100%
}

/* Quickfix for too big download button text */
@media screen and (max-width: 600px) {
    
    .button {
        font-size: 50px;
    }
    
}

.button:hover{
    color: var(--highlight-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}